<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/materia/nuevo/agregar}" class="btn btn-primary">Nuevo</a>
	<a th:href="@{/logout}"class="btn btn-dark">Cerrar Sesion</a>
	<br/>
	<br/>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
				    <th>MATERIA</th>
					<th>CODIGO</th>
					<th>CARRERA</th>
					<td>
					
					</td>
				</tr>
			</thead>
			<tbody>
								<tr th:each="materia: ${lstMaterias}">
								<td><span th:text="${materia.id}" /></td>
								<td><span th:text="${materia.nombre}" /></td>
								<td><span th:text="${materia.codMateria}" /></td>
								<td><span th:text="${materia.carrera.nombre}" /></td>
								<td>
								<a th:href="@{/materia/editar/{id}(id=${materia.id})}" class="btn btn-info">Editar</a>
								<a th:href="@{/materia/eliminar/{id}(id=${materia.id})}" class="btn btn-danger">Eliminar</a>
								</td>
								</tr>
							</tbody>
		</table>
		<br/>
		<br/>
		<a th:href="@{/admin/mostrar}" class="btn btn-primary">Volver al inicio</a> 
	</div>
	<!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>