<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/admin/listar/{id}(id=${user.id})}" th:object=${user} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Editar User</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>NOMBRE</label> 
							<input th:field="*{nombre}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>APELLIDO</label> 
							<input th:field="*{apellido}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>DOCUMENTO</label> 
							<input th:field="*{documento}" type="number"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>TIPO DE DOCUMENTO</label> 
							<select th:field="*{tipo_doc}">
								<option th:value="'DNI'" th:text="DNI"></option>
								<option th:value="'PASAPORTE'" th:text="PASAPORTE"></option>
							</select>
						</div>
						<div class="form-group">
							<label>EMAIL</label> 
							<input th:field="*{email}" type="email"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>USERNAME</label> 
							<input th:field="*{username}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>CONTRASEÑA</label> <input th:field="*{password}" type="password" 
								class="form-control" />
						</div>
						<div class="form-group">
							<label>ENABLED</label> <input th:field="*{enabled}" type="checkbox"
								class="form-control" />
						</div>
						<div class="form-group">
							 <label> ROL </label>
                    			<select class="form-select center" id="role" th:field="*{role}" name="role">
                        		<option th:each="role : ${listRole}"
                                	th:value="${(role.id)}" 
                                	th:text="${role.role}">
                        	</option>
                    </select>
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>