<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/notaPedido/nuevo/final}" class="btn btn-primary">AGREGAR PEDIDO FINAL</a>
	<a th:href="@{/notaPedido/nuevo/curso}" class="btn btn-primary">AGREGAR PEDIDO CURSO</a>
	<a th:href="@{/logout}"class="btn btn-dark">Cerrar Sesion</a>
	<br/>
	<br/>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
				    <th>FECHA</th>
					<th>TURNO</th>
					<th>AULA</th>
					<th>CANTIDAD ESTUDIANTES</th>
					<th>MATERIA</th>
					<th>OBSERVACIONES</th>
					<th>TIPO</th>
					<th>ESTADO</th>
					<td>
					
					</td>
				</tr>
			</thead>
			<tbody>
								<tr th:each="pedido: ${lstPedidos}">
								<td><span th:text="${pedido.id}" /></td>
								<td><span th:text="${pedido.fecha}" /></td>
								<td><span th:text="${pedido.turno}" /></td>
								<td><span th:text="${pedido.aula.edificio.nombre} + '-' + ${pedido.aula.numero}"/></td>
								<td><span th:text="${pedido.cantEstudiantes}" /></td>
								<td><span th:text="${pedido.materia.nombre}" /></td>
								<td><span th:text="${pedido.observaciones}" /></td>
								<td><span th:if="${pedido instanceof T(sistema.integrador.oo2.entities.Curso)}" th:text="Curso" ></span>
								<span th:if="${pedido instanceof T(sistema.integrador.oo2.entities.Final)}" th:text="Final"></span></td>
								<td><span th:if="${pedido.estado == false}" th:text="Pendiente" ></span><span th:if="${pedido.estado == true}" th:text="Autorizado" ></span></td>
								<td><a th:if="${pedido.estado == false}" th:href="@{/notaPedido/estado/habilitar/{id}(id=${pedido.id})}" class="btn btn-info">Cambiar Estado</a>
								<a th:if="${pedido.estado == true}" th:href="@{/notaPedido/estado/deshabilitar/{id}(id=${pedido.id})}" class="btn btn-info">Cambiar Estado</a></td>
								<td>
									<a th:if="${pedido instanceof T(sistema.integrador.oo2.entities.Curso)}" th:href="@{/notaPedido/editar/curso/{id}(id=${pedido.id})}" class="btn btn-info">Editar</a>
									<a th:if="${pedido instanceof T(sistema.integrador.oo2.entities.Final)}" th:href="@{/notaPedido/editar/final/{id}(id=${pedido.id})}" class="btn btn-info">Editar</a>
									
									<a th:href="@{/notaPedido/eliminar/{id}(id=${pedido.id})}" class="btn btn-danger">Eliminar</a>
								</td>
								</tr>
							</tbody>
		</table>
		<br/>
		<br/>
		<a th:href="@{/admin/mostrar}" class="btn btn-primary">Volver al inicio</a> 
	</div>
	<!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>