<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
		<div class="container mt-4">
			<a th:href="@{/logout}" class="btn btn-dark">Cerrar Sesion</a> <br> <br>
			<table class="table">
				<thead>
					<tr>
						<th>ID AULA</th>
						<th>NUMERO DE AULA</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="aula : ${edificio.aula}">
					
						<!-- bucle fore que recorre la lista -->
						<div th:if="${aula != null}">
							<td th:text="${aula.id}"></td>
							<td th:text="${aula.numero}"></td>
							<td> 
							<a th:href="@{/traer/aulaAuditor/{id}(id=${aula.id})}" class="btn btn-info">Informacion</a>
							</td>
						</div>
					</tr>
					
					
				</tbody>
			</table>
			<a th:href="@{/listarAuditor/edificio}" class="btn btn-light" >Atras</a>
		</div>
		
		
	
	
	<!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>