<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/listar/edificio/nuevo}"class="btn btn-primary">Nuevo</a>
	<a th:href="@{/logout}"class="btn btn-dark">Cerrar Sesion</a>
		<br> <br>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="edificio:${edificio}">
					<td th:text="${edificio.id}"></td>
					<td th:text="${edificio.nombre}"></td>
					<td>
					<a th:href="@{/aula/{id}(id=${edificio.id})}" class="btn btn-info">Ver Aulas</a>
					<a th:href="@{/listar/edificio/editar/{id}(id=${edificio.id})}" class="btn btn-info">Editar</a>
					<a th:href="@{/listar/edificios/{id}(id=${edificio.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<a th:href="@{/admin/mostrar}" class="btn btn-primary">Volver al inicio</a> 
	</div>
	<!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>