<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>UNLa</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/listar/roles}" th:object=${userRole} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Modulo UserRole</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>ROL</label> 
							<select th:field="*{role}">
								<option th:value="'ROLE_USER'" th:text="AUDITOR"></option>
								<option th:value="'ROLE_ADMIN'" th:text="ADMINISTRADOR"></option>
							</select>
							<div class="form-group">
							<label>INDIQUE EL username DEL USUARIO A INDICAR EL ROL</label> 
							<select th:field="*{user}"   >
								<option  th:each="user : ${users}" th:value="${user}" th:text="${user.id}"></option>
							</select>
							
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>